<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Header -->
  {% include "header.html" %}
  
  <script>
    function showloading() {
        image = document.getElementById('loading_image');
        image.style.display = 'inline'
    }
	</script>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/upload">Attendance Tracking System</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/course">Courses</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/student">Students</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/">Log Out</a>
              </li>
          </ul>
        </div>
      </div>
    </nav>

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
			<p class="text-white-75 font-weight-light">Upload a picture which include every students in the class, the system will scan all faces in the picture and return their names</p>
			
			<form action="/upload" method="post" enctype="multipart/form-data" style="width: 80%; text-align: center; margin: auto;" onsubmit="showloading()">	
				<hr class="divider my-4">
				
				<!-- <input type="file" name="image" class="btn btn-primary"> -->
				
				<div class="custom-file">
				  <input type="file" class="custom-file-input" id="customFile" name="image">
				  <label class="custom-file-label" for="customFile">Choose file</label>
				</div>
				
				<hr class="divider my-4">
				
				<input type="submit" value="Upload" class="btn btn-primary">
			</form>
			<div style="text-align: center">
        <img style ="width: 100px; height: auto; display: none; padding-top: 20px;" id="loading_image" style="display: none" src="static/img/loading.gif">
			</div>
          
        </div>
        <div class="col-lg-8 align-self-baseline">
          <!-- <input type="submit" value="Upload" class="btn btn-primary"> -->
          <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" href="login.html">Login</a> -->
        </div>
      </div>
    </div>
  </header>

  {% include "footer_scripts.html" %}

</body>

</html>
